<?xml version="1.0" encoding="UTF-8" ?>
<configuration debug="false">
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d [%thread] %-5level %C{25} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="demo">
        <level value="trace" />
    </logger>

    <root>
        <level value="info" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>